<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div id="container">
                <div class="wrapper">
                    <div class="main-header">
                        <div class="main-panel">
                            <div class="row" class="col-sm-4">
                                <div class="col-sm-4">
                                <form method="POST" action=''>
                                    
                                    <legend><h3>AddUserType</h3></legend>
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <label for="usertype">User Type :</label>
                                    <input type="text" class="form-control" name="usertype" id="usertype" Required />
                                    </div>
                        
                                    <div class="form-group">
                                        <label for="status">Status :</label>
                                        <input type="radio" name="status" id="stsactive" value="True">
                                        <label for="stsactive">Active</label>
                                        <input type="radio" name="status" id="stsinactive" value="False">
                                        <label for="stsinactive">InActive</label>
                                    </div>
                    
    
                                    {% comment %} <div class="form-group">
                                        <label for="createon">Create On :</label>
                                        <input type="date" class="form-control" name="createon" id="createon" Required />
                                    </div>
                        {% endcomment %}
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                    <a class="btn btn-outline-primary" href="{% url 'index' %}" role="button">Back</a>
                                    </div>
                                    
                                </form>
                                </div>
                                <fieldset>
                                <div class="col-sm-4">
                                <div class="container">
                                    <table class="table table-striped table-bordered" >
                                        <thead>
                                            <tr>
                                            <th scope="col">Slno</th>
                                            <th scope="col">User Type</th>
                                            <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>                            
                                          {% for n in getuserdata %}
                                          <tr>
                                          <td>{{n.id}}</td>
                                          <td>{{n.User_Type}}</td>
                                          <td>{{n.is_active}}</td>                                                                            
                                          <td><a href="{% url 'editdata' n.id %}">Edit</a></td>
                                          <td><a href="{% url 'deletedata' n.id %}">Delete</a></td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
















{% comment %} {% extends 'blog/base.html' %}
{% load static %}
{% block title %}AddUserType{% endblock  %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row" class="col-4" style="margin-left:80px; margin-top:20px; padding:20px;solid #ddd">
        <div class="col-4">
          <form method="POST" action={% url 'AddUserType' %}>
            {% csrf_token %}
            <legend>Add User</legend>
          
            <div class="form-group">
              <label for="usertype">User Type :</label>
              <input type="text" class="form-control" name="usertype" id="usertype" Required />
            </div>

            <div class="form-group">
              <label for="status">Status :</label>
              <input type="radio" name="status" id="stsactive" value="True"> Active 
              <input type="radio" name="status" id="stsinactive" value="False"> Inactive
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            
          </form>
        </div>
    
        <fieldset>
          <div class="col-8">
            <div class="container">
              <table class="table table-striped table-bordered" >
                <thead>
                  <tr>
                    <th scope="col">Slno</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action1</th>
                  </tr>
                </thead>
                <tbody>
                  {% for n in getdata %}
                  <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.User_Type}}</td>
                    <td>{{n.is_active}}</td>
                    <td><a href="{% url 'editdata' n.id %}">Edit</a></td>
                    <td><a href="{% url 'deletedata' n.id %}">Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </fieldset>
  </div>
</div>

{% endblock  %} {% endcomment %}