{% extends 'blog/base.html' %}
{% load static %}
{% block title %}appusage{% endblock  %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="container mt-3">
            <h6>ALL User</h6>
            <hr/>
            <div class="container-fluid text-primary">
                {% for n in getdata1 %}
                    <div class="row p-2">
                        <div class="col-sm-3" style="font-size:12px" text-transform:capitalize>
                            <span><input type="hidden" name="hidrowid" value="{{n.id}}" readonly /></span>
                            <span>Name : {{n.fname}} {{n.lname}}</span> <br/>
                            <span>Team : {{n.teamname}}</span> <br/>
                            {% comment %} <span>Status : {{n.isactive}}</span> {% endcomment %}
                        </div>
                        {% comment %} <div class="col-sm-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> 70% </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-sm-3" style="font-size:12px">
                            <span>Work Time: 00:00:00</span> <br/>
                            <span>Break Time: 00:00:00</span>
                        </div>
                            {% comment %} <div class="col-sm-1"> 
                                <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#{{n.id}}"> Details </button> 
                            </div> {% endcomment %}

                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="item1">
                                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Details
                                    </div>
                                </h2>

                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="item" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="border:1px solid #0CF">

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card cardclass">
                                                    {% load static %}
            
                                                    <img src="{% static 'photo2.png'%}">

                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card cardclass" style="word-spacing:300px">App Duration </div>
                                                <hr/>
                                                <div class="card cardclass" style="word-spacing:300px"> Sublime  01:01:23 </div>
                                                <hr/>
                                                <div class="card cardclass" style="word-spacing:300px"> Windows  00:22:06 </div>
                                                <hr/>
                                                <div class="card cardclass" style="word-spacing:300px"> Telegram   00:17:05 </div>
                                                <hr/>
                                                <div class="card cardclass"style="word-spacing:300px"> localhost   00:14:19 </div>
                                                <hr/>
                                                <div class="card cardclass" style="word-spacing:330px"> stack 00:10:01</div>
                                                <hr/>
                                                <div class="card cardclass" style="word-spacing:300px"> jsbin.com   00:05:40</div>
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock  %}