<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
	<!-- {% comment %} <link rel="stylesheet" href= "{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"> {% endcomment %} -->
	<link rel="stylesheet" href="{% static '/assets/css/ready.css' %}">
	<link rel="stylesheet" href="{% static '/assets/css/demo.css' %}">
    <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet' %}" >
    <!-- {% comment %} <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' %}"> {% endcomment %} -->
  <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    {%  if 'username' in request.session %}
    <div class="wrapper">
        <div class="main-header">
    
            {% include 'blog/navbar.html' %}
            <div class="main-panel">
                {% block content %}

                {% endblock  %}
                {% include 'blog/footer.html' %}
            </div>
        </div>
    </div>
    {% else %}
    <h3>Your Session has Expired......</h3>
    {% include 'blog/login.html' %}
    
    <!-- {% comment %} <button type="submit"><a href="{% url 'login' %}">login</a></button> {% endcomment %}  -->
    {% endif %}
    {% block contenttwo %}
    
    {% endblock contenttwo %}
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/assets/js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static '/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static '/assets/js/ready.min.js' %}"></script>
    <script src="{% static '/assets/js/demo.js' %}"></script>
    <script>
        $( function() {
            $( "#slider" ).slider({
                range: "min",
                max: 100,
                value: 40,
            });
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 75, 300 ]
            });
        } );
    </script>
    <script>
        $('#displayNotif').on('click', function(){
            var placementFrom = $('#notify_placement_from option:selected').val();
            var placementAlign = $('#notify_placement_align option:selected').val();
            var state = $('#notify_state option:selected').val();
            var style = $('#notify_style option:selected').val();
            var content = {};
    
            content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
            content.title = 'Bootstrap notify';
            if (style == "withicon") {
                content.icon = 'la la-bell';
            } else {
                content.icon = 'none';
            }
            content.url = 'index.html';
            content.target = '_blank';
    
            $.notify(content,{
                type: state,
                placement: {
                    from: placementFrom,
                    align: placementAlign
                },
                time: 1000,
            });
        });
    </script>



    <script>
      var hamburger = document.querySelector(".hamburger");
      hamburger.addEventListener("click", function(){
          document.querySelector("body").classList.toggle("active");
      })
      var acc = document.getElementsByClassName("accordion");
      var i; 

      for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
          /* Toggle between adding and removing the "active" class,
          to highlight the button that controls the panel */
          this.classList.toggle("active");
      
          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
              panel.style.display = "none";
          } else {
              panel.style.display = "block";
          }
          });
      }   
    </script>


</body>
</html>