{% load static %}

    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="http://www.themekita.com">
                            ThemeKita
                        </a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li> {% endcomment %}
                </ul>
            </nav>
            <div class="copyright ml-auto">
                Surya international <i class="la la-heart heart text-danger"></i>
            </div>				
        </div>
    </footer>

