{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Productivity{% endblock  %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="container mt-3">
            
            <div class="container-fluid text-primary">
                {% for n in getdata1 %}
                    <div class="row p-2">
                        <div class="col-sm-3" style="font-size:12px" text-transform:capitalize>
                            <span><input type="hidden" name="hidrowid" value="{{n.id}}" readonly /></span>
                            <span>Name : {{n.fname}} {{n.lname}}</span> <br/>
                        </div>
                        
                        <div class="col-sm-3" style="font-size:12px">
                            <span>Date: 00:00:00</span><br/>
                            <span>Working Duration: 00:00:00</span> <br/>
                            <span>Idle Time: 00:00:00</span><br/>
                            <span>Break Time: 00:00:00</span><br/>
                            <span>Active Working Time: 00:00:00</span>
                        </div>
                    </div>        
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock  %}